<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Win/IdeaProjects/testNGPractice/src/test/java/com/spgTesting/Listeners/paramTest.java">
        <classes>
            <class name="com.spgTesting.ListenersClass.paramTest">
                <methods>
                    <include name="testLogo"/>
                    <include name="testTitle"/>
                    <include name="testURL"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>